@model Homework6.Models.Response

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f1f1f1;
        }
    </style>
    <title>Birthday Card Generator</title>
</head>
<body>

<div>
    <h4>Birthday Card Generator</h4>
    <h2>Birthday Card Sent</h2>
    
    From: @Model.From
    <br />
    To: @Model.To
    <br />
    Message: @Model.Message
</div>
</body>
</html>
