@model Homework6.Models.Response

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Birthday Card Generator</title>
</head>
<body>
    <h4>Birthday Card Sent</h4>
    From: @Model.From
    To: @Model.To
    Message: @Model.Message
    

</body>
</html>
