@model HelloWorldASP_MVC.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" type="text/css" href="~/css/styles.css" />*@
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <style>
            btn a {
                color: white;
                text-decoration: none;
            }
            body {
                background-color: #f1f1f1;
            }
        </style>
    <title>RsvpForm</title>
</head>
<body>
    <div class="text-center">
        <h4>RSVP</h4>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="/Home/RsvpForm" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control input-validation-error" type="text"
                           data-val="true" data-val-required="Please enter your name" id="Name" name="Name" value="" />
                    <span class="text-danger field-validation-error" data-valmsg-for="Name"
                          data-valmsg-replace="true">Please enter your name</span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Phone">Phone</label>
                    <input class="form-control" type="text" id="Phone" name="Phone" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Email">Email</label>
                    <input class="form-control" type="text" id="Email" name="Email" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="WillAttend">WillAttend</label>
                    <select class="form-control" id="WillAttend" name="WillAttend">
                        <option value="">Choose an option</option>
                        <option value="True">Yes, I'll be there</option>
                        <option value="False">No, I can't come</option>
                    </select>
                    <span class="text-danger field-validation-valid" data-valmsg-for="WillAttend" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>

                <input name="__RequestVerificationToken" type="hidden" value="...." />
            </form>
        </div>
    </div>

    <div>
        <a href="/">Back to List</a>
    </div>

</body>
</html>