@model HelloWorldASP_MVC.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<h1>Thank you, @Model.Name</h1>
@if (Model.WillAttend == true)
{
    @:Thanks for coming! We will send a confirmation to @Model.Email
}
else
{
    @:Sorry you can't make it.
}
