@model HelloWorldASP_MVC.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<h1>Thank you, @Model.Name</h1>
@if (Model.WillAttend == true)
{
    @:Thanks for coming! We will send a confirmation to @Model.Email
}
else
{
    @:Sorry you can't make it.
}
